<div class="row pt-5 justify-content-center" style="direction: rtl">
  <div class="col-8">
    <div class="card card-default">
      <div class="card-header bg-danger">
        <h5 class="text-center text-white fw-bold">عضویت در سایت</h5>
      </div>
      <div class="card-body">
        <form
          class="form-horizontal"
          method="POST"
          action="/auth/register"
          novalidate
        >
          <%- include(viewPath('layouts/error-messages')) -%>

          <div class="form-group mt-3">
            <label for="name" class="control-label p-2"
              >نام و نام خانوادگی</label>
            <input
              id="name"
              type="text"
              class="form-control shadow-none"
              name="name"
              value="<%=  old('name') %>"
              autofocus=""
              required
            />
          </div>
          <div class="form-group mt-3">
            <label for="email" class="control-label p-2">آدرس ایمیل</label>
            <input
              id="email"
              type="email"
              class="form-control shadow-none"
              name="email"
              value="<%= old('email') %>"
              required
            />
          </div>
          <div class="form-group mt-3">
            <label for="password" class="control-label p-2">رمز عبور</label>
            <input
              id="password"
              type="password"
              class="form-control shadow-none"
              name="password"
              value="<%=  old('password') %>"
              required
            />
          </div>
          <br /><br />
          <div class="form-group"><%- recaptcha%></div>
          <div class="form-group mt-3 p-2">
            <button type="submit" class="btn btn-primary">عضویت</button>
            <!-- <a href="/auth/login/google" class="btn btn-danger">ورود با اکانت گوگل</a> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
