<div
  class="d-flex justify-content-between align-items-center mb-3 pb-2 border-bottom"
>
  <h2>ایجاد محصول</h2>
</div>
<form class="form-horizontal" action="/admin/products/create" method="post" enctype="multipart/form-data">
  <%- include(viewPath('layouts/error-messages')) -%>

  <div class="form-group row">
    <div class="col">
      <label for="title" class="control-label font-weight-bold"
        >عنوان محصول</label
      >
      <input
        type="text"
        class="form-control"
        name="title"
        id="title"
        placeholder="عنوان را وارد کنید"
        value="<%= old('title')%>"
      />
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <label for="type" class="control-label font-weight-bold font-weight-bold"
        >نوع محصول</label
      >
      <select name="type" id="type" class="form-control">
        <option value="off"<%= old('type')==="off" ?'selected' : '' %>>با تخفیف</option>
        <option value="cash" <%= old('type')==="cash" ?'selected' : '' %>>نقدی</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <label for="body" class="control-label font-weight-bold">توضیحات</label>
      <textarea
        rows="5"
        class="form-control"
        name="body"
        id="body"
        placeholder="توضیحات محصول را وارد کنید"
      ><%= old('body')%></textarea>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <label for="images" class="control-label font-weight-bold"
        >تصویر محصول</label>
      <input
        type="file"
        class="form-control"
        name="images"
        id="images"
        placeholder="تصویر محصول را وارد کنید"
      />
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <label for="price" class="control-label font-weight-bold">قیمت</label>
      <input
        type="text"
        class="form-control"
        name="price"
        id="price"
        placeholder="قیمت ها را وارد کنید"
        value="<%= old('price')%>"
      />
    </div>
    <div class="col">
      <label for="tags" class="control-label font-weight-bold">تگ ها</label>
      <input
        type="text"
        class="form-control"
        name="tags"
        id="tags"
        placeholder="تگ ها را وارد کنید"
        value="<%= old('tags')%>"
      />
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <button type="submit" class="btn btn-danger">ارسال</button>
    </div>
  </div>
</form>
