<!-- products -->
<div class="container-fluid" style="direction: rtl">
    <div class="row mb-3">
      <div class="col-lg-12">
         <br>
        <h3 class="fw-bold">محصولات</h3>

        <% let {search , category}=req.query %>
        <% if(search){ %>
        <input type="hidden" name="search" value="<%= search %>">
        <span>فیلتر بر اساس: <%= search %></span>
        <%}%>
        <hr />
      </div>
      <form action="" method="GET">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn main-btn-color" type="submit">فیلتر</button>
            </span>
            <select name="category" class="form-control w-25" >
              <option value="all">همه دسته ها</option>
                 <% categories.forEach(cate => { %>
                <option value="<%= cate.slug %>" <%= cate.slug === category ? 'selected' : '' %> ><%= cate.name %></option>
                 <% }) %>
            </select>
          </div>
    </div>
</form>
    <br>
    </div>
  <br>
  <% if(products.length) { %> 
    <div class="row">
      <% products.forEach(product=>{%>
      <div class="col-6 col-md-3">
        <div class="card mb-5" style="width: 18rem">
          <img
            src="<%=product.thumb%>"
            class="card-img-top"
            alt="<%=product.title%>"/>
          <a href="<%= product.path() %>" class="btn button-color btn-sm">اطلاعات بیشتر</a>
          <div class="card-body">
            <h5 class="text-center">
              <a
                class="text-color text-decoration-none"
                href="<%= product.path() %>" target="_blank"><%= product.title %></a>
            </h5>
            <div class="alert alert-color p-2 mb-2 text-center" role="alert">
              <%=product.price%>
            </div>
          </div>
        </div>
      </div>
      <%})%>
    </div>
    <% } else { %>
      <div class="row">
<h1 class="text-center" style="direction: rtl;">محصول مورد نظر یافت نشد!</h1>
      </div>
  <%} %>
  </div>
  <%- include(viewPath('layouts/pagination') ,{ pagination : products}) %>